<article class="awards">
    <div class="container">
        <div class="inner">
            <div class="awards__hashtag">
                #Awards
            </div>
            <div class="awards__heading">
                Our Honors & Awards
            </div>
            <div class="awards__list">
                <div class="row gy-lg-3 gy-sm-2">
                    <div class="col-3 col-lg-6 col-sm-12">
                        <div class="awards__list--img">
                            <img src="./img/index_img/awards-img01.png" alt="" loading="lazy">
                        </div>
                    </div>
                    <div class="col-3 col-lg-6 col-sm-12">
                        <div class="awards__list--img">
                            <img src="./img/index_img/awards-img02.png" alt="" loading="lazy">
                        </div>
                    </div>
                    <div class="col-3 col-lg-6 col-sm-12">
                        <div class="awards__list--img">
                            <img src="./img/index_img/awards-img03.png" alt="" loading="lazy">
                        </div>
                    </div>
                    <div class="col-3 col-lg-6 col-sm-12">
                        <div class="awards__list--img">
                            <img src="./img/index_img/awards-img04.png" alt="" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>