<div class="blog__list">
    <div class="row gy-md-3">
        <div class="col-4 col-md-12">
            <div class="blog__post">
                <div class="blog__post--img">
                    <img src="./img/index_img/blog-img01.png" alt="" loading="lazy">
                </div>
                <div class="blog__post--author">
                    <div class="author-avt">
                        <img src="./img/index_img/blog-img04.png" alt="" loading="lazy">
                    </div>
                    <div class="author-info">
                        <div class="author-info__name">Mitchell Starc</div>
                        <div class="author-info__job">Attorney at Law</div>
                    </div>
                </div>
                <p class="blog__post--title">
                    5 Key Rules of Law in Our Society Must Know in 2022
                </p>
                <button class="blog__post--btn">Learn More</button>
            </div>
        </div>
        <div class="col-4 col-md-12">
            <div class="blog__post">
                <div class="blog__post--img">
                    <img src="./img/index_img/blog-img02.png" alt="" loading="lazy">
                </div>
                <div class="blog__post--author">
                    <div class="author-avt">
                        <img src="./img/index_img/blog-img04.png" alt="" loading="lazy">
                    </div>
                    <div class="author-info">
                        <div class="author-info__name">Mitchell Starc</div>
                        <div class="author-info__job">Attorney at Law</div>
                    </div>
                </div>
                <p class="blog__post--title">
                    5 Key Rules of Law in Our Society Must Know in 2022
                </p>
                <button class="blog__post--btn">Learn More</button>
            </div>
        </div>
        <div class="col-4 col-md-12">
            <div class="blog__post">
                <div class="blog__post--img">
                    <img src="./img/index_img/blog-img03.png" alt="" loading="lazy">
                </div>
                <div class="blog__post--author">
                    <div class="author-avt">
                        <img src="./img/index_img/blog-img04.png" alt="" loading="lazy">
                    </div>
                    <div class="author-info">
                        <div class="author-info__name">Mitchell Starc</div>
                        <div class="author-info__job">Attorney at Law</div>
                    </div>
                </div>
                <p class="blog__post--title">
                    5 Key Rules of Law in Our Society Must Know in 2022
                </p>
                <button class="blog__post--btn">Learn More</button>
            </div>
        </div>
    </div>
</div>