<article class="cta">
    <div class="container">
        <div class="inner">
            <div class="cta__hashtag">#CTA</div>
            <div class="cta__heading">Dealing With a Issue?</div>
            <p class="cta__desc">Where every injury is personal. We are a different kind of law
                firm.
                Let
                our small, passionate group of trial lawyers fight for your rights!</p>
            <button class="cta__btn">Get a Consultations</button>
        </div>
    </div>
</article>