<header id="header">
    <!-- header logo -->
    <div>
        <div class="header__logo">
            <a href="">
                <img src="./img/index_img/logo-header.svg" alt="">
                <h3>Justice</h3>
                <h4>Law Firm</h4>
            </a>
        </div>
        <div class="menu">
            <label for="openNav"><i class="fa-solid fa-bars"></i></label>
        </div>
    </div>
    <input type="checkbox" name="" id="openNav" hidden>
    <!-- header navigation -->
    <nav class="header__nav">
        <ul class="header__nav--list">
            <li>
                <a href="#!">Home</a>
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="sub-menu">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="#!">Real Estate Law Firm</a></li>
                    <li><a href="#!">Lawyer Firm Agency 1</a></li>
                    <li><a href="#!">Lawyer Firm Agency 2</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">About</a>
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="sub-menu">
                    <li><a href="./about-1.html">About 1</a></li>
                    <li><a href="./about-2.html">About 2</a></li>
                    <li><a href="#!">About 3</a></li>
                    <li><a href="#!">About 4</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">Practice Areas</a>
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="sub-menu">
                    <li><a href="./practice.html">Practice Areas</a></li>
                    <li><a href="#!">Divorce</a></li>
                    <li><a href="#!">Personal Injury</a></li>
                    <li><a href="#!">Employment</a></li>
                    <li><a href="#!">Immigration</a></li>
                    <li><a href="#!">Family</a></li>
                    <li><a href="#!">Property</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">Attorneys</a>
            </li>
            <li>
                <a href="#!">Page</a>
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="sub-menu">
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./contact.html ">Contact</a></li>
                    <li><a href="#! ">FAQ</a></li>
                    <li><a href="./page-404.html ">404</a></li>
                    <li><a href="#! ">Coming Soon</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- header contact -->
    <div class="header__contact">
        <a href="telto: (000) 123 456 789" style="cursor: pointer;">Call : <strong>(000) 123 456 789</strong></a>
    </div>

</header>