<header id="header">
    <!-- header logo -->
    <div>
        <div class="header__logo">
            <a href="">
                <img src="./img/index_img/logo-header.svg" alt="">
                <h3>Justice</h3>
                <h4>Law Firm</h4>
            </a>
        </div>
        <div class="menu">
            <label for="openNav"><i class="fa-solid fa-bars"></i></label>
        </div>
    </div>
    <input type="checkbox" name="" id="openNav" hidden>
    <!-- header navigation -->
    <nav class="header__nav">
        <ul class="header__nav--list ">
            <li>
                <a href="#!">Home</a>
                <i class="fa-solid fa-chevron-down"></i>
            </li>
            <li>
                <a href="./about.html">About</a>
                <i class="fa-solid fa-chevron-down"></i>
            </li>
            <li>
                <a href="#!">Practice Areas</a>
                <i class="fa-solid fa-chevron-down"></i>
            </li>
            <li>
                <a href="#!">Attorneys</a>
                <i class="fa-solid fa-chevron-down"></i>
            </li>
            <li>
                <a href="#!">Page</a>
                <i class="fa-solid fa-chevron-down"></i>
            </li>
        </ul>
    </nav>
    <!-- header contact -->
    <div class="header__contact">
        <p>Call : <strong>(000) 123 456 789</strong></p>
    </div>

</header>