<article class="team">
    <div class="container">
        <div class="inner">
            <div class="team__hashtag">
                #Team
            </div>
            <div class="team__heading">
                Meet With Lawyers
            </div>
            <div class="team__desc">
                Our team of experienced team more than $150 Million in Settlements and Judgments for Our
                Clients
            </div>
            <div class="team__list">
                <div class="row g-3">
                    <div class="col-4 col-lg-6 col-md-12">
                        <div class="team__list--card">
                            <div class="team__list--card-img">
                                <img src="./img/index_img/team-img01.png" alt="" loading="lazy">
                                <div class="img--btn">View Profile</div>

                            </div>
                            <div class="team__list--card-info">
                                <div class="name">David Warner</div>
                                <div class="pos">Attorney at Law</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-6 col-md-12">
                        <div class="team__list--card">
                            <div class="team__list--card-img">
                                <img src="./img/index_img/team-img02.png" alt="" loading="lazy">
                            </div>
                            <div class="team__list--card-info">
                                <div class="name">Aaron Finch</div>
                                <div class="pos">Founding President</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-6 col-md-12">
                        <div class="team__list--card">
                            <div class="team__list--card-img">
                                <img src="./img/index_img/team-img03.png" alt="" loading="lazy">
                            </div>
                            <div class="team__list--card-info">
                                <div class="name">Jamie Watts</div>
                                <div class="pos">Partner</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-6 col-md-12">
                        <div class="team__list--card">
                            <div class="team__list--card-img">
                                <img src="./img/index_img/team-img04.png" alt="" loading="lazy">
                            </div>
                            <div class="team__list--card-info">
                                <div class="name">Ellyse Perry</div>
                                <div class="pos">Associate Attorney</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-6 col-md-12">
                        <div class="team__list--card">
                            <div class="team__list--card-img">
                                <img src="./img/index_img/team-img05.png" alt="" loading="lazy">
                            </div>
                            <div class="team__list--card-info">
                                <div class="name">Meg Lanning</div>
                                <div class="pos">Senior Partner</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-6 col-md-12">
                        <div class="team__list--card">
                            <div class="team__list--card-img">
                                <img src="./img/index_img/team-img06.png" alt="" loading="lazy">
                            </div>
                            <div class="team__list--card-info">
                                <div class="name">Peter Siddle</div>
                                <div class="pos">Of Counsel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team__btn">
                All Attorney
            </div>
        </div>
    </div>
</article>