<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Law Firm Page - Module 1</title>

    <%- include ("./partials/head") %>
</head>

<body>
    <div class="wrapper">
        <!-- Start top page -->
        <div class="about-2-topPage">
            <div class="container">
                <div class="inner">
                    <!-- Start header -->
                    <%- include ("./partials/header") %>
                        <!-- End header -->

                        <!-- Start hero -->
                        <div class="about-2-hero">
                            <div class="row">
                                <div class="col-10 offset-1 col-md-12 offset-md-0">
                                    <div class="about-2-hero__heading">You can count on the undivided attention of a
                                        team that prizes relationships over profits.</div>
                                </div>
                            </div>
                            <div class="row gx-4 gx-lg-2 gy-md-3">
                                <div class="col-6 col-md-12">
                                    <div class="about-2-hero__video">
                                        <div class="interview__video">
                                            <img src="./img/about_img/about-2-img.png" alt="" loading="lazy">
                                            <button>
                                                <img src="./img/about_img/Play-about2.svg" alt="" loading="lazy">
                                            </button>
                                        </div>
                                        <div class="content__video">
                                            <div class="content__video--title">An Interview With Raymond King</div>
                                            <p class="content__video--desc">Comparison between various civil law and
                                                private law institutions.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12">
                                    <div class="about-2-hero__video">
                                        <div class="interview__video">
                                            <img src="./img/about_img/about-2-img02.png" alt="" loading="lazy">
                                            <button>
                                                <img src="./img/about_img/Play-about2.svg" alt="" loading="lazy">
                                            </button>
                                        </div>
                                        <div class="content__video">
                                            <div class="content__video--title">An Interview With John Morgan</div>
                                            <p class="content__video--desc">Comparison between various civil law and
                                                private law institutions.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End hero -->
                </div>
            </div>
        </div>
        <!-- End top page -->

        <main>
            <!-- History -->
            <section class="history">
                <div class="container">
                    <div class="inner">
                        <div class="row gx-4 gy-md-3">
                            <div class="col-6 col-md-12">
                                <div class="history__content">
                                    <div class="history__content--hashtag">History</div>
                                    <div class="history__content--heading">Through And Complete Attention to Law</div>
                                    <div class="history__content--desc">
                                        <p>While Mr. Parmele, his paralegals, and clerks are busy
                                            assisting you with your forms, helping you assemble your documentation, and
                                            keeping
                                            you
                                            updated regularly, Mr. Parmele is busy behind the scenes, focusing on
                                            winning your
                                            case.</p>
                                        <p> Your initial meeting with Parmele Law Firm sets in motion the difficult –
                                            and
                                            tedious –
                                            process of getting your benefits for you.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-8 offset-md-2">
                                <div class="history__img">
                                    <img src="./img/about_img/history-img.png" alt="" loading="lazy">
                                    <span class="history__img--decor"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Experience -->
            <section class="experience">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-10 offset-1 col-md-12 offset-md-0">
                                <div class="experience__hashtag">OUR EXPERIENCE</div>
                                <div class="experience__heading">20 Years of Experience In Various Cases</div>
                                <p class="experience__desc">Asbestos.com is proud to donate to organizations that raise
                                    awareness
                                    and support ongoing research on mesothelioma, cancer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Start end page -->
        <%- include ("./partials/footer") %>
            <!-- End end page -->
    </div>

    <%- include ("./partials/scroll__btn") %>
        <script type="module" src="./main.js"></script>
</body>

</html>