<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Law Firm Page - Module 1</title>
    <%- include ("./partials/head") %>
</head>

<body>
    <div class="wrapper">
        <div class="practice-top-page">
            <div class="container">
                <div class="inner">
                    <!-- Start header -->
                    <%- include ("./partials/header") %>
                        <!-- End header -->
                </div>
            </div>
        </div>


        <!-- Main -->
        <main>
            <div class="container">
                <div class="inner">
                    <div class="row gy-md-2 gy-sm-1">
                        <div class="col-12">
                            <img src="./img/practice_img/practice-img.png" alt="">
                        </div>
                        <section class="col-8 offset-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0">
                            <div class="title">Tulsa Car Accident Attorney</div>
                            <div class="desc">
                                <p>If you or a loved one have been in an auto accident, you may be feeling overwhelmed
                                    and
                                    frustrated. The aftermath of a car accident can affect your personal and
                                    professional
                                    life as you deal with the physical, emotional, and financial burdens that an
                                    accident
                                    can cause. If you are struggling with the legalities of a car accident, then you
                                    want an
                                    experienced and knowledgeable car accident attorney by your side.</p>
                                <p>
                                    At The Rode Law Firm, a personal injury firm with locations in Tulsa and Sapulpa,
                                    Oklahoma, we are focused on client recovery from auto accidents and severe injuries.
                                    We
                                    represent people in the Tulsa, Sapulpa, Broken Arrow, Sand Springs, and Owasso,
                                    Oklahoma
                                    areas who have suffered injuries in car accidents by providing professional
                                    representation both in and out of the courtroom.</p>
                                <p>
                                    If you are involved in a car accident, the steps you take afterward directly affect
                                    your
                                    recovery. Having the nearest law enforcement agency investigate the wreck and a
                                    visit to
                                    the ER are prudent and highly recommended. Many injuries, such as a herniated disc
                                    or a
                                    concussion, may be disguised until weeks or months after the accident. Your
                                    well-being
                                    should be your number one priority.</p>
                            </div>
                        </section>
                        <section class="col-8 offset-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0">
                            <div class="title">Causes of Automobiles Accidesnts</div>
                            <div class="desc">
                                <p>Sometimes the cause of an accident is a driver’s actions or in-actions and may not be
                                    obvious to the police and eyewitnesses, such as:</p>
                            </div>
                            <ul class="list">
                                <li><a href="#!">Distracted driving</a></li>
                                <li></li>
                                <li><a href="#!"> Driving aggressively</a></li>
                                <li></li>
                                <li><a href="#!">Drunk driving</a></li>
                                <li></li>
                                <li><a href="#!">Fatigued driving</a></li>
                                <li></li>
                                <li><a href="#!"> Speaking or texting with a cell phone</a></li>
                            </ul>
                            <div class="desc">
                                <p>At The Rode Law Firm, we will work with you to get you the best outcome possible for
                                    your case. We understand how devastating an accident can be, and how the effects of
                                    such can be life-altering. Our passion for helping people get back on their feet
                                    makes us an excellent legal partner for you. We care about you and want to help you
                                    resolve your case fairly and quickly. With over 30 years of legal experience, we
                                    have the skills needed to effectively defend you as your car accidents attorney. You
                                    deserve to be compensated fairly for your pain and suffering.</p>
                            </div>
                        </section>
                        <section class="col-8 offset-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0">
                            <div class="title">How We Will handle Your Case?</div>
                            <div class="desc">
                                <p>When we meet with new clients, our priority is to establish a strong attorney-client
                                    relationship. This will help us collaborate with you throughout the entire legal
                                    process, and make you feel comfortable coming to us with any questions or concerns
                                    along the way. Communication is imperative and constant throughout your case. We'll
                                    speak at least once every three weeks so that both parties are never in the dark. As
                                    our client, you will receive a full list of do's and don'ts while we handle your
                                    legal situation. This will guide you on best practices so that we can get you the
                                    outcome you deserve.</p>
                                <p>The legal process can be confusing, so you may be wondering: how long will the
                                    process take? The answer to this question is dependent upon your recovery time for
                                    any injuries you may have sustained, how your insurance company responds to your
                                    claim, and whether or not we need to go to trial. No matter what, your attorneys at
                                    The Rode Law Firm will be by your side to answer any questions or concerns as best
                                    we can.</p>
                            </div>
                        </section>
                        <section class="col-8 offset-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0">
                            <div class="title">Compansation</div>
                            <div class="desc">If you have suffered harm and losses in a car accident, you have the right
                                to make a claim for compensation against the responsible party. We can often recover
                                compensation for:</div>
                            <ul class="list">
                                <li><a href="#!">Medical expenses</a></li>
                                <li></li>
                                <li><a href="#!">Out-of-pocket</a></li>
                                <li></li>
                                <li><a href="#!">Property damage</a></li>
                                <li></li>
                                <li><a href="#!">Loss of wages</a></li>
                                <li></li>
                                <li><a href="#!">Loss of earning capacity</a></li>
                                <li></li>
                                <li><a href="#!">Physical pain and suffering</a></li>
                                <li></li>
                                <li><a href="#!">Mental pain and suffering </a></li>
                                <li></li>
                                <li><a href="#!">Scarring and disfigurement</a></li>
                                <li></li>
                                <li><a href="#!"> Loss of health insurance or other benefits</a></li>
                                <li></li>
                                <li><a href="#!">Loss of business and more </a></li>
                            </ul>
                        </section>
                        <section class="col-8 offset-2 col-lg-10 offset-lg-1 col-md-12 offset-md-0">
                            <div class="title">Call Our Law Firm Today</div>
                            <div class="desc">Our auto accidents attorneys and team will work on your case for you from
                                start to finish. With a proven process for client recovery, we’ll manage your case to
                                ensure the best recovery for you — both physically and financially. We are located in
                                Tulsa and Sapulpa, Oklahoma, and we are proud to serve clients in other areas of
                                Oklahoma including Broken Arrow, Sand Springs, and Owasso. Contact us today for legal
                                help you can count on.</div>
                        </section>
                    </div>
                </div>
            </div>

            <!-- CTA -->
            <%- include ("./partials/cta") %>
        </main>

        <!-- Start end page -->
        <%- include ("./partials/footer") %>
            <!-- End end page -->
    </div>

    <%- include ("./partials/scroll__btn") %>
        <script type="module" src="./main.js"></script>
</body>

</html>