@use "./reset";
@use "./font";

// Layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/footer";

// Section
@use "./section/team";
@use "./section/cta";
@use "./section/awards";
@use "./section/blog-list";

// Components
@use "./components/button";
@use "./components/scroll-btn";

// Pages
@use "./pages/index";
@use "./pages/about-1";
@use "./pages/about-2";
@use "./pages/practice";
@use "./pages/blog";
@use "./pages/contact";
@use "./pages/page-404";

// Common
* {
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
}

.top-page {
    width: 100vw;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: inherit;
    font-family: font.$font-body;
}

button,
select,
textarea,
input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
