@use "./reset";
@use "./font";

// Layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/footer";

// Components

// Pages
@use "./pages/index";

// Common
* {
    box-sizing: border-box;
}

.top-page {
    width: 100vw;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: inherit;
    font-family: font.$font-body;
}

button,
select,
textarea,
input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
